{% extends 'template.html' %}

{% block content %}
<h2 class="font-rr-nav text-center fs-2 py-3">Login</h2>

        
        <div class=" container-lg px-5 pb-3">
           
        <form method = 'POST' action = '/customer_login'>

            <div class="container-lg text-dark font-rr-nav fs-5">
                <div class="row justify-content-center">
                   


                    
                    <div class="col-10 col-md-5 mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email@xyz.com" name="email">
                    </div>

                    <div class="col-10 col-md-5 mb-3">
                        <label for="password" class="form-label">password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>

                    <div class="col-10 col-md-5 mb-3 d-flex justify-content-center">
                        <button type="submit" class="btn btn-dark">Sign Up</button>
                    </div>
                </div>
            </div>
            
            
            
            
          </form>
        </div>
{% endblock %}