
{% extends 'template.html' %}

{% block content %}
    <h4 class="text-center py-3">Select an operation</h4>
    <div class="container py-5">
        <div class="row justify-content-center">
            
                <div class="col-3 text-center blocks mx-5">
                    <a href="/cash_deposite" >
                        <p style="padding-top: 20%">Cash deposite</p>
                    </a>
                </div>

                <div class="col-3 text-center blocks mx-5">
                    <a href="/withdraw_cash" >
                        <p style="padding-top: 20%;">Withdraw cash</p>
                    </a>
                </div>

                
            
        </div>
    </div>
    
{% endblock %}