{% extends 'template.html' %}

{% block content %}
    <p class="text-center pt-3 fs-1">
        Welcome To AS Bank
    </p>
    <hr class="text-dark">
    <p class="text-center text-dark">We are a who uses advanced techlogies to make banking and financing easy. We emphasis on customer expereice and ease of banking Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, facere. Incidunt, accusantium harum? Perspiciatis, amet minus ullam inventore quo eum quasi expedita! Temporibus et qui adipisci, error exercitationem quibusdam ducimus animi rem corporis sed aut possimus non labore dolorum ratione, atque blanditiis dolor debitis quia harum sunt. Ipsam, culpa possimus.</p>
    
    <hr class="text-dark">
    <div class="features">
        <p class="fs-2 text-center">Features</p>
        <ul>
            <li class="text-center">Easy Registration</li>
            <li class="text-center">Quick Transfer funds</li>
            <li class="text-center"> 24/7 customer support</li>

        </ul>
    </div>
    <hr class="text-dark">

    <p class="text-center">Register today online or visit us at any of the following locations</p>
    
    <div class="locations pb-3">
        <p class="fs-2 text-center">Locations</p>
        <ul>
            <li class="text-center">Beside Forum Sujana Mall, Kukatpally, Hyderabad</li>
            <li class="text-center">Rexona Towers, Begumpet, Hyderabad</li>
            <li class="text-center">Above Tata Motors, opp. Hitech City, Madhapur, Hyderabad</li>
            <li class="text-center">JH Checkpost, Jubliee Hills</li>


        </ul>
    </div>


    
{% endblock %}