<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AS Bank</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="font">
    
    <div class="container-fluid header font">
        <div class="row justify-content-center">
            <div class="col text-center">
                <img id = 'logo' src="../static/images/logo.jpg" alt="">
            </div>
        </div>
        <hr class="text-light">
        <div class="row justify-content-center pb-3">
            <div class="col-2 text-center">
                <a href="/customer_login">Customer Login</a>
            </div>
            <div class="col-2 text-center">
                <a href="/reg_customer">Sign Up</a>
            </div>
            <div class="col-2 text-center">
                <a href="/login_emp">Employee Login</a>
            </div>
            
        </div>
    </div>

    <div class="content background">
        {% block content %}
        {% endblock %}
    </div>
    
    <div class="container-fluid footer text-center">
        <p class="py-5 mb-0">Thank You! for visiting the website. Hope you had a great time</p>
    </div>
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>